
  <div class="navbar navbar-top navbar-default" id="navbar">
    <div class="navbar-inner">

          <div class="panel-group ng-scope" id="accordion" role="tablist" aria-multiselectable="true" >
                  <div class="panel panel-contract contractheader" >
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <div class="row">
                          <div class="col-md-3">
                          </div>
                        </div>
                      </div><!--panel heading -->
                  </div>  <!--panel -->



      </div><!--panel heading -->
  </div>


